.app-container {
  width: -webkit-fil-available;

  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  margin: 0;
  padding: 0;
  background-color: lightgreen;
}

button {
  background-color: green;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  box-shadow: 2px rgba(120, 120, 120, 0.5);

  margin: 15px 0 15px 0;
}
