h1,
h2,
h3,
h4,
p,
blockquote,
figure,
ol,
ul {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  color: rgb(55 65 81);
  font-family: 'Roboto';
  font-size: 26px;
}

input {
  border-width: 2px;
  border-style: solid;
  border-color: #1c64f2;
  border-radius: 0.375rem; /* rounded-lg */
}

input:focus {
  border-color: #1a365d;
  outline: none;
}

button {
  padding: 3px 9px;
  background-color: #1c64f2;
  border-radius: 0.75rem; /* rounded-xl */
  color: #fff;
}

button:active {
  background-color: #1a365d;
}

@import "./styles/tailwind.css";
